/* Satellite Effect Container */
.satellite-container {
    position: absolute;
    inset: 0;
    overflow: hidden;
    z-index: 0; /* Ensure it stays behind the main content */
  }
  
  /* Glowing Satellite Effect */
  .satellite {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 500px; 
    height: 500px; 
    background: radial-gradient(circle, rgba(0, 172, 255, 0.5), transparent);
    border-radius: 50%;
    animation: pulse 4s infinite ease-in-out, rotate 12s linear infinite;
    mix-blend-mode: screen;
    filter: blur(80px);
    transform-origin: center;
  }
  
  .satellite::before,
  .satellite::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle, rgba(0, 172, 255, 0.3), transparent);
    border-radius: 50%;
    animation: pulse 4s infinite ease-in-out;
    filter: blur(100px);
  }
  
  .satellite::before {
    animation-delay: 1s;
  }
  
  .satellite::after {
    animation-delay: 2s;
  }
  
  /* Keyframes for Pulsing and Rotating */
  @keyframes pulse {
    0% {
      transform: scale(0.8);
      opacity: 0.6;
    }
    50% {
      transform: scale(1.3);
      opacity: 1;
    }
    100% {
      transform: scale(0.8);
      opacity: 0.6;
    }
  }
  
  @keyframes rotate {
    0% {
      transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
      transform: translate(-50%, -50%) rotate(360deg);
    }
  }
  
   

.nav-link {
    color: #000;
    position: relative; 
    padding: 10px; 
    text-decoration: none; 
  }
  
  .nav-link::after {
    content: ""; 
    position: absolute; 
    width: 100%; 
    height: 2px; 
    background-color: #00ccff; 
    bottom: 0; 
    left: 0; 
    transform: scaleX(0); 
    transition: transform 0.3s ease; 
  }
  
  .nav-link:hover {
    color: #00ccff; 
  }
  
  .nav-link:hover::after {
    transform: scaleX(1); 
  }

 .bgAbout{
  background: rgb(48,77,209);
background: linear-gradient(90deg, rgba(48,77,209,1) 10%, rgba(192,200,231,1) 50%, rgba(29,52,146,1) 79%, rgba(48,77,209,1) 100%);
 }
  
  
